body{
    background-image: url("../../../public/imgMatematica.jpg");
    background-size: cover;
    background-position: center;
}


.calculator {
    display: flex;
    justify-content: center;
}

.divCalculator{
    border: 1px solid white;
    background-color: grey;
    border-radius: 5px;
    width:450px;
    margin: 5% 20% 1% 20%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin: 3%;
    height: 70px;
    font-size: 24px;
    padding: 10px;
    background-color: black;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 5px;
    margin: 3%;
    padding: 10px;
}

.operation:hover, .number:hover, .igual:hover, .clear:hover {
    background-color: lightgray;
}

.containerButtons {
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.buttonRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.buttonItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    transition: 0.2s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.clear {
    background-color: red;
    color: white;
}

.igual {
    grid-row: span 2;
    height: 102px;
    background-color: rgb(117, 219, 219);
}

.delete{
    grid-row: span 2;
    height: 102px;
    background-color: red;
    color: white;
}

.operation {
    background-color: rgb(212, 203, 203);
}


@media (max-width: 480px) {

    .calculator {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-top: 0; 
    }

    .view {
        font-size: 20px;
    }


    .buttonItem {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .button{
        border: none;
    }

    .igual,
    .delete {
        height: 112px;
    }
}